.add-question_wrapper{
  margin: 0 auto;
  max-width: 1290px;
  min-height: 163px;
  display: flex;
  justify-content: space-between;
}
.add-question_container-item{
  display: flex;
  margin-top: 44px;
}
.add-question_container-item img{
  margin-right: 50px;
  max-width: 59px;
  transform: translateY(-17%);
}
.add-question_container-item .add-question_text h3{
  margin: 0;
  font-weight: 600;
  font-size: 28px;
  line-height: 37px;
}
.add-question_container-item .add-question_text span{
  font-size: 28px;
  line-height: 37px;
}
.add-question_wrapper .add-question_btn{
  width: 234px;
  height: 46px;
  margin-top: 44px;
  padding: 15px 64px;
  transform: translateY(39%);
  border-radius: 2px;
  font-size: 15px;
  line-height: 16px;
  text-align: center;
  background: #122C50;
  color: #FFFFFF;
}