.block-benefits{
  width: 100%;
  padding: 50px 15px;
  margin: 0 auto;
  margin-top: 71px;
  background: url(/images/benefits_bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.block-benefits_wrapper{
  display: flex;
  flex-wrap: wrap;
}
.block-benefits_content{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.block-benefits_content h3{
  margin: 0;
  font-weight: 600;
  font-size: 28px;
  line-height: 27px;
  color: #FFFFFF;
}
.block-benefits_content .block-benefits_item{
  display: flex;
  margin-top: 53px;
  max-width: 420px;
}
.block-benefits_item .block-benefits_item-circle{
  margin-right: 22px;
  width: 69px;
  height: 69px;
  border-radius: 50%;
  border: 12px solid #fff;
  background: #fff;
}
.block-benefits_item .block-benefit_txt-block{
  min-width: 326px;
  margin-right: 20px;
}
.block-benefit_txt-block .block-benefit_txt-head{
  display: block;
  font-weight: 700;
  font-size: 17px;
  color: #FFFFFF;
}
.block-benefit_txt-block  .block-benefit_txt{
  display: block;
  max-width: 306px;
  margin-top: 16px;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
@media (min-width: 1200px){
  .block-benefits_content{
    max-width: 1300px;
  }
}
@media (max-width: 1320px){
  .block-benefits_wrapper{
    margin: 0 auto;
  }
}
@media (max-width: 950px){
  .block-benefit_txt-block .block-benefit_txt-head{
    font-size: 16px;
  }
  .block-benefit_txt-block .block-benefit_txt{
    font-size: 15px;
  }
}

@media (max-width: 700px){
  .block-benefits_content{
    padding-left: 53px;
  }
}